<h3><u><i>Comments</i></u></h3>

<% @post.comments.each do |comment| %>
  <b><%= comment.comment_text %></b><br>
  <i>By <%= comment.user.email %>
    <br>
    <%= comment.created_at.strftime("%B %e, %Y at %I:%M %p")%> UTC</i><br>
  <br>
 <% end %>

<%= render 'comment_form' %>
