<h1>My Goals:</h1>

<%= link_to 'Create a New Goal', new_post_path %> <br>



<% @posts.each do |post| %>
  <div>
    <h3><%= link_to post.title.capitalize, post_path(post) %>!</h3>
    <i><%= post.description %></i>
  </div>
  <br>
<% end %>
